// Main Colors
$colorPrimary: rgb(134, 57, 249);
$colorAccent: rgb(55, 185, 241);
$colorGrey: rgb(242, 245, 245);

// Font Colors
$colorText: #565360;
$colorLabel: #908e9b;
$colorDisabled: #e1dfe9;

// Sizes
$sizeXSm: 0.75rem;
$sizeSm: 1rem;
$sizeMd: 1.5rem;
$sizeLg: 2rem;
$sizeXLg: 3rem;

// Media Breakpoints
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpoingXLg: 1200px;

//
/* Font Size */
$font-xsmall: 1.3rem;
$font-small: 1.8rem;
$font-medium: 2.2rem;
$font-large: 3.5rem;
$font-xlarge: 4.8rem;

/* Color */
$color-grain: #d7cec7;
$color-blackboard: #565656;
$color-oxblood: #76323f;
$color-tan: #c09f80;
