@import '/src/sass/variables';
@import '/src/sass/_mixins.scss';

/* Skills Section */
.skills-section {
  display: flex;
  flex-flow: column;

  // height: vh;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: #fff;
  .title {
    h1 {
      color: #242424;
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .skills-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: 5rem auto;

    /* Skill Component */
    .skill {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1%;
      width: 8rem;
      height: 8rem;
      color: #fff;
      border-radius: 1rem;
      text-align: center;
      overflow: hidden;
      font-size: 4rem;
      z-index: 1;
      transition: transform 0.4s linear 0s,
        border-top-left-radius 0.1s linear 0s,
        border-top-right-radius 0.1s linear 0.1s,
        border-bottom-right-radius 0.1s linear 0.2s,
        border-bottom-left-radius 0.1s linear 0.3s;
      i {
        position: relative;
        transition: transform 0.4s linear 0s;
      }
      &:hover {
        transform: rotate(360deg);
        border-radius: 50%;
        i {
          transform: rotate(-360deg);
        }
      }
    }
  }
}
$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.to-projects {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1.6rem;
    margin: 0;
  }
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    // vertical-align: center;
    text-decoration: none;
    background: transparent;
    margin: 1rem 0;

    padding: 0;
    font-size: $font-medium;
    &.to-projects__link {
      width: 30rem;
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 5rem;
        background: $black;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $white;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
            background: $white;
            transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: $white;
      }
    }
  }
}
