@import '/src/sass/variables';
@import '/src/sass/_mixins.scss';
/* Projects section */

.projects-section {
  display: flex;
  flex-flow: column;
  padding: 5rem 0;
  color: #fff;
  background-color: #10121b;
  .title {
    text-align: center;
    h1 {
      font-weight: bold;
    }
  }
  .buttons {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .button {
      margin: 0.5rem 0;
      padding: 0.5rem 2rem;
      background-color: #0c3564;
      border: none;
      border-radius: 0.5rem;
      color: white;
      transition: all 0.2s cubic-bezier(1, -0.16, 0.6, 1.35);
      font-size: $font-xsmall;
      @include --viewportMd {
        font-size: $font-small;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:hover {
        background-color: #037fff;
        cursor: pointer;
      }
    }
  }
  .items {
    width: 90%;
    @include --viewportSm {
      width: 90%;
    }
    @include --viewportMd {
      width: 85%;
    }
    margin: auto;
    color: #fff;
  }
}

.item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  @include --viewportSm {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  @include --viewportLg {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  padding-bottom: 6rem;

  .item__container {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 30rem;
    padding: 1rem 1rem;
    background-color: #19202e;
    border-radius: 1rem;
    .thumbnail {
      border-radius: 1rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      overflow: hidden;
      margin: auto;
      width: 100%;
      img {
        max-width: 100%;
        justify-content: flex-start;
        max-height: 100%;
        border-radius: 1rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.025);
        }
      }
    }
    h3 {
      text-align: center;
      margin-top: 1rem;
      font-weight: bold;
    }
  }
}

.modal-content {
  color: $colorText;
  overflow-y: auto;
  .modal-header {
    .modal-title {
      font-size: $font-medium;
    }
  }
  .modal-body {
    display: flex;
    flex-flow: column;
    overflow: auto;
    width: 100%;
    padding: 1rem 1rem;
    @include --viewportLg {
      padding: 2rem 2rem;
    }
    border-radius: 0.5rem;
    .thumbnail {
      width: 100%;
      img {
        max-width: 100%;
        border-radius: 1rem;
      }
    }
    p {
      margin-top: 1rem;
      font-size: $font-small;
    }
  }
  .modal-footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    a {
      width: 15rem;
      text-align: center;
      padding: 1rem;
      background-color: #0c3564;
      border: none;
      border-radius: 1rem;
      color: white;
      text-decoration: none;
      transition: all 0.2s cubic-bezier(1, -0.16, 0.6, 1.35);
      font-size: $font-xsmall;
      @include --viewportMd {
        width: 15rem;
        font-size: $font-small;
      }
      &:hover {
        background-color: #037fff;
        cursor: pointer;
      }
    }
  }
}
