@import '/src/sass/variables';
@import '/src/sass/_mixins.scss';
/* Projects section */

.projects-section {
  display: flex;
  flex-flow: column;
  padding: 5rem 0;
  color: #fff;
  background-color: #10121b;
  .title {
    text-align: center;
    h1 {
      font-size: $font-xlarge;
      font-weight: bold;
    }
  }
  .buttons {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .button {
      // padding: 1rem 2rem;
      // width: fit-content;
      margin: 0.5rem 0;
      padding: 0.5rem 2rem;
      background-color: #0c3564;
      border: none;
      border-radius: 0.5rem;
      // font-family: inherit;
      // font-size: inherit;
      color: white;
      transition: all 0.2s cubic-bezier(1, -0.16, 0.6, 1.35);

      // height: rem;
      font-size: $font-xsmall;
      @include --viewportMd {
        font-size: $font-small;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:hover {
        background-color: #037fff;
        cursor: pointer;
      }
    }
  }
  .items {
    width: 90%;
    @include --viewportSm {
      width: 90%;
    }
    @include --viewportMd {
      width: 85%;
    }
    margin: auto;
    color: #fff;
    .item {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
      @include --viewportSm {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }
      @include --viewportLg {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
      }
      padding-bottom: 6rem;

      .item__container {
        overflow: hidden;
        width: 100%;
        height: fit-content;
        padding: 1rem 1rem;
        @include --viewportLg {
          padding: 2rem 2rem;
        }
        background-color: #19202e;
        border-radius: 0.5rem;
        .thumbnail {
          width: 3rem;
          img {
            width: 100%;
            border-radius: 0.5rem;

            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.025);
              // cursor: pointer;
            }
          }
        }
        h2 {
          margin-top: 2rem;
          font-size: $font-small;
          font-weight: bold;
        }
        p {
          margin: 1.5rem 0;
          font-size: $font-xsmall;
        }
        .links {
          display: flex;
          flex-flow: row;
          @include --viewportSm {
            flex-flow: column;
          }
          @include --viewportMd {
            flex-flow: row;
          }

          align-items: center;
          justify-content: space-evenly;
          a {
            width: 13rem;
            text-align: center;
            margin: 0.5rem 0.5rem;
            padding: 0.5rem 0.5rem;
            background-color: #0c3564;
            border: none;
            border-radius: 0.5rem;

            color: white;
            text-decoration: none;
            transition: all 0.4s cubic-bezier(1, -0.16, 0.6, 1.35);

            // height: rem;
            font-size: 1rem;
            @include --viewportMd {
              width: 15rem;
              font-size: $font-xsmall;
            }
          }
        }
      }
    }
  }
}
