@import 'sass/_variables.scss';
@import 'sass/_mixins.scss';
/* Contact Section */
.contact-section {
  display: flex;
  flex-flow: row;

  width: 80vw;
  padding: 5% 0;
  .contact__email {
    background-color: #fff;
    width: 100%;
    .contact-form {
      padding: 2% 4% 4% 4%;
      .contact-image {
        text-align: center;
        i {
          border-radius: 6rem;
          font-size: 5rem;
          margin-top: -1%;
          color: #0062cc;
        }
      }
      h3 {
        margin: 5% 0;
        text-align: center;
        color: #0062cc;
        font-size: $font-xlarge;
      }
      h4 {
        text-align: center;
        color: $color-blackboard;
        font-size: $font-small;
        &::before {
          content: 'Interested in working together?';
          font-weight: bold;
        }
      }
      .form-group {
        margin-bottom: 1rem;
        label {
          font-size: $font-medium;
          width: 100%;
        }
        .form-control {
          border-radius: 1rem;
        }
        .submit-button {
          width: 10rem;
          border: none;
          border-radius: 1rem;
          padding: 1%;
          background: #dc3545;
          font-size: $font-medium;
          font-weight: 600;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .contact__social-media {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 2rem;

    ul.social-icons {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      border-radius: 10rem;
      padding: 0 0.5rem;
      height: 50%;

      li {
        list-style: none;
        a.social-icon-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5rem;
          height: 5rem;
          color: #fff;
          border-radius: 1rem;
          text-align: center;
          overflow: hidden;
          font-size: 3rem;
          z-index: 1;

          text-decoration: none !important;

          position: relative;

          transition: transform 0.4s linear 0s,
            border-top-left-radius 0.1s linear 0s,
            border-top-right-radius 0.1s linear 0.1s,
            border-bottom-right-radius 0.1s linear 0.2s,
            border-bottom-left-radius 0.1s linear 0.3s;
          i {
            position: relative;
            transition: transform 0.4s linear 0s;
          }
          &.linkedin {
            background-color: #007bb6;
          }
          &.github {
            background-color: #211f1f;
          }
          &.codepen {
            background-color: #0ebeff;
          }
          &.codesandbox {
            background-color: #8739f9;
            img {
              max-width: 80%;
              height: auto;
              filter: invert(100%);
            }
          }

          &:hover {
            transform: rotate(360deg);
            border-radius: 50%;

            i {
              transform: rotate(-360deg);
            }
          }
        }
      }
    }
  }
}
