@import '../sass/variables.scss';
@import '../sass/mixins.scss';

.footer-container {
  background-color: $color-oxblood;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-small;
  color: #fff;
}

.footer-links {
  // width: 100vw;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .footer-link-wrapper {
    display: flex;
    flex-wrap: wrap;

    .footer-link-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 1.6rem;
      text-align: left;
      width: 16rem;
      box-sizing: border-box;
      h2 {
        margin-bottom: 1.6rem;
        color: #fff;
        font-weight: bold;
      }
      a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 0.5rem;
      }
      // a:hover {
      //   color: $color-tan;
      //   transition: 0.5s;
      // }
    }
  }
}

/* Social-media */

.social-media {
  max-width: 1000px;
  width: 100%;
  margin-top: 3rem;

  .social-media-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .copyright {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;
    }
    .copyright:hover {
      text-decoration: none;
      color: whitesmoke;
      transition: 0.3s ease-out;
    }

    .social-icons {
      display: flex;
      justify-content: space-between;
      width: 10rem;
      .social-icon-link {
        color: #fff;
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-link-wrapper {
    width: 80%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrapper {
    flex-direction: column;
  }
}

// @media screen and (max-width: 768px) {
// }
