@import '../style.scss';

.navbar {
  box-sizing: border-box;
  background-color: lighten($color-tan, 30%);

  .container-fluid {
    width: 80%;
    margin: auto;
    a.navbar-brand {
      color: black;
      font-size: $font-medium;
      margin: 0 0 0 2rem;
    }
    .navbar-collapse {
      .navbar-nav {
        text-align: justify; /* For Edge */
        -moz-text-align-last: center; /* For Firefox prior 58.0 */
        text-align-last: center;
        .nav-item {
          border-radius: 3rem;
          padding: 1rem;
          a.nav-link {
            color: black;
            font-size: $font-medium;
          }
        }
        .nav-item:hover {
          background-color: lighten($color-oxblood, 15%);
          box-shadow: 0 6px 20px rgba(15, 56, 133, 0.17);

          a.nav-link {
            color: #fff;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .navbar {
    .container-fluid {
      width: 100%;
      margin: auto;
    }
  }
}
