@import '/src/sass/variables';
@import '/src/sass/_mixins.scss';

.home-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: #000;
    margin-top: -15rem;
  }
  h2 {
    margin-top: 1rem;
    color: #000;
    font-weight: normal;
  }
}
