@import '../../sass/_variables.scss';
@import '../../sass/_mixins.scss';

.footer-container {
  background-color: $color-oxblood;
  padding: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-small;
  color: #fff;
}

.footer-link {
  display: flex;
  flex-flow: column;

  @include --viewportSm {
    flex-flow: row;
    justify-content: center;
    width: 80%;
  }

  .footer-link__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.6rem;
    text-align: left;
    width: 20rem;
    box-sizing: border-box;
    h2 {
      margin-bottom: 1.6rem;
      color: #fff;
      font-weight: bold;
    }
    a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 0.5rem;
    }
  }
}

/* Social-media */

.social-media {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 3rem;

  .copyright {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  .copyright:hover {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s ease-out;
  }

  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    .social-icon-link {
      color: #fff;
      font-size: 3rem;
    }
  }
}

// @media screen and (max-width: 780px) {
//   .footer-links {
//     padding-top: 2rem;
//   }

//   .footer-link-wrapper {
//     width: 80%;
//   }

//   .btn {
//     width: 100%;
//   }

//   .footer-link-wrapper {
//     flex-direction: column;
//   }

//   .social-media-wrapper {
//     flex-direction: column;
//   }
// }
