@import 'sass/_variables.scss';
@import 'sass/_mixins.scss';

@import 'components/footer/_footer.scss';
@import 'components/nav/_navbar.scss';
@import 'components/pages/education/_education.scss';
@import 'components/pages/experience/_experience.scss';
@import 'components/pages/contact/_contact.scss';
@import 'components/pages/home/_home.scss';
@import 'components/pages/projects/_projects.scss';
@import 'components/pages/skills/_skills.scss';

* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: #2d3c46;
}
