@import './style.scss';

html,
body {
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lighten($color-tan, 35%);

  // overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.about {
  font-size: $font-small;
  padding: 3rem 0 0 0;
  box-sizing: border-box;

  > h1 {
    font-size: $font-large;
  }
  > h2 {
    font-size: $font-medium;
  }
}
.about-container {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  max-width: 1024px;
  width: 90vw;
  margin: 0 auto;
}

/* Education Section */
.education-section {
  // background-color: ivory;
  padding-top: 10%;

  h2 {
    font-size: $font-xlarge;
    margin: 0 0 2.4rem 3.2rem;
    text-align: left;
  }
}
/* Education Component */
.education {
  margin: 0 0 2.4rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 6px 20px rgba(15, 56, 133, 0.17);

  .education__logo img {
    width: 5rem;
    height: 5rem;
    border: 50%;
    margin: 1rem 1.6rem 0 0;
  }
  .education__school {
    a {
      text-decoration: inherit;
      color: inherit;
      cursor: auto;
    }
    h3 {
      font-size: $font-large;
    }
  }
  .education__degree {
    h4 {
      font-size: $font-small;
    }
  }
  .education__duration {
    font-size: $font-xsmall;
  }
  .education__location {
    color: #4a4b46;
    font-size: $font-xsmall;
  }
  .education__description {
    margin: 1rem 0 0 0;
  }
}
.education:hover {
  transform: scale(1.01);
}

/* Experience Section */
.experience-section {
  padding-top: 10%;
  h2 {
    font-size: $font-xlarge;
    margin: 0 0 2.4rem 3.2rem;
    text-align: left;
  }
}
/* Experience Component */
.experience {
  margin: 0 0 2.4rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 6px 20px rgba(15, 56, 133, 0.17);

  .experience__logo img {
    width: 5rem;
    height: 5rem;
    border: 50%;
    margin: 1rem 1.6rem 0 0;
  }
  h3 {
    font-size: $font-large;
  }
  .experience__organization {
    a {
      text-decoration: inherit;
      color: inherit;
      cursor: auto;
    }
    h4 {
      font-size: $font-small;
    }
  }
  .experience__duration {
    font-size: $font-xsmall;
  }
  .experience__location {
    color: #4a4b46;
    font-size: $font-xsmall;
  }
  .experience__description {
    margin: 1rem 0 0 0;
    // background-color: lightcoral;
  }
}
.experience:hover {
  transform: scale(1.01);
}

/* Projects section */
.projects {
  display: flex;
  height: 30rem;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #242424;
}

/* Contact Section */

.contact-section {
  display: flex;
  flex-flow: row;
  background: #fff;
  width: 100%;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  .contact-image {
    text-align: center;

    i {
      border-radius: 6rem;
      font-size: 5rem;
      margin-top: -1%;

      color: #0062cc;
    }
  }
  .contact__email {
    background-color: #fff;
    width: 100%;
    .contact-form {
      padding: 5% 10% 10% 10%;
      h3 {
        margin-bottom: 8%;
        text-align: center;
        color: #0062cc;
        font-size: $font-large;
      }
      .form-group {
        label {
          width: 100%;
          font-size: $font-small;
        }
        .form-control {
          border-radius: 1rem;
        }
        .submit-button {
          width: 50%;
          border: none;
          border-radius: 1rem;
          padding: 1.5%;
          background: #dc3545;
          font-weight: 600;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .contact__social-media {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 2rem;

    ul.social-icons {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      background-color: $color-tan;
      border-radius: 10rem;
      padding: 0 0.5rem 0 0.5rem;
      height: 50%;

      li {
        list-style: none;
        a.social-icon-link {
          display: flex;
          justify-content: center;
          width: 5rem;
          height: 5rem;
          color: $color-blackboard;
          text-decoration: none;
          color: #fff;
          border: 3px solid #fff;
          border-radius: 50%;
          text-align: center;
          overflow: hidden;
          font-size: 4rem;
          z-index: 1;

          i {
            color: #262626;
            transition: 0.5s;
            z-index: 3;
          }
          p {
            font-size: $font-xsmall;
          }
        }
        a.social-icon-link i:hover {
          color: #fff;
          transform: rotateY(360deg);
        }
        a.social-icon-link::before {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f00;
          transition: 0.7s;
          z-index: 2;
        }
      }
      li:nth-child(1) a.social-icon-link::before {
        background: #007bb5;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .contact-section {
    flex-flow: column;
    .contact__social-media {
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin-right: 0;
      ul.social-icons {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
      }
    }
  }
}
