@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Jura');

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  background-size: cover;
  background-color: white;
  margin: auto;
}

.container {
  width: min(90%, 70.5rem);
}
.navbar {
  background-color: lightblue;
}

.profilePhoto {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

/*-----social-media-----*/

#social-media-section ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
#social-media-section ul li {
  list-style: none;
}
#social-media-section ul li a {
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin: 0 10px;
  display: block;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
#social-media-section ul li a .fab {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
#social-media-section ul li a:hover .fab {
  color: #fff;
  transform: rotateY(360deg);
}
#social-media-section ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 2;
}
#social-media-section ul li a:hover:before {
  top: 0;
}
#social-media-section ul li:nth-child(1) a:before {
  background: #007bb5;
}
#social-media-section ul li:nth-child(2) a:before {
  background: #211f1f;
}
