/* Font Size */
$font-xsmall: 1.3rem;
$font-small: 1.6rem;
$font-medium: 1.8rem;
$font-large: 2.4rem;
$font-xlarge: 3.2rem;

/* Color */
$color-grain: #d7cec7;
$color-blackboard: #565656;
$color-oxblood: #76323f;
$color-tan: #c09f80;
